<<<<<<< HEAD

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ffe9e6; 
  color: #003319;
  background-image: url('Images/pp.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 0.4s, color 0.4s;
}
.home .content{
    width:120rem;
    text-align: center;
}

.home .content h3{
    color:black;
    font-size: 3rem;
}

.home .content h3 span{
    color:blue;
    font-size: 3rem;
}

.home .content p{
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;

}


/* Judul utama halaman */
header h1 {
  font-size: 1.5em;
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  color: rgb(200, 24, 24);
}

/* Subjudul (jika ada) */
header h2 {
  font-size: 1.5em;
  text-align: right;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(182, 13, 13);
  font-weight: 600;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #004d26;
  text-shadow: 0 0 10px #b3ffd9;
}


.logo {
  height: 50px;
}


main {
  padding: 20px 40px;
}

section {
  margin-bottom: 50px;
  background: rgb(238, 228, 228);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  color: #00aa55;
  border-bottom: 3px solid #00cc66;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.box {
  width: 100%;
  height: 100px;
  background-color: #f1e8e8;
  border-radius: 12px;
  
  
  display: flex;
  justify-content: center; 
  align-items: center;     
  
 
  color: #004d00;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}



section p {
  line-height: 1.8;
  text-align: justify;
}

.back-container {
  text-align: center;
  margin: 40px 0;
}

.back-btn {
  background-color: #43e97b;
  color: #fff;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}
.back-btn:hover {
  background-color: #38b46f;
  transform: translateY(-3px);
}
=======

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ffe9e6; 
  color: #003319;
  background-image: url('Images/pp.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 0.4s, color 0.4s;
}
.home .content{
    width:120rem;
    text-align: center;
}

.home .content h3{
    color:black;
    font-size: 3rem;
}

.home .content h3 span{
    color:blue;
    font-size: 3rem;
}

.home .content p{
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;

}


/* Judul utama halaman */
header h1 {
  font-size: 1.5em;
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  color: rgb(200, 24, 24);
}

/* Subjudul (jika ada) */
header h2 {
  font-size: 1.5em;
  text-align: right;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(182, 13, 13);
  font-weight: 600;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #004d26;
  text-shadow: 0 0 10px #b3ffd9;
}


.logo {
  height: 50px;
}


main {
  padding: 20px 40px;
}

section {
  margin-bottom: 50px;
  background: rgb(238, 228, 228);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  color: #00aa55;
  border-bottom: 3px solid #00cc66;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.box {
  width: 100%;
  height: 100px;
  background-color: #f1e8e8;
  border-radius: 12px;
  
  
  display: flex;
  justify-content: center; 
  align-items: center;     
  
 
  color: #004d00;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}



section p {
  line-height: 1.8;
  text-align: justify;
}

.back-container {
  text-align: center;
  margin: 40px 0;
}

.back-btn {
  background-color: #43e97b;
  color: #fff;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}
.back-btn:hover {
  background-color: #38b46f;
  transform: translateY(-3px);
}
>>>>>>> 129e062 (commit pertama)
