body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ffe9e6; 
  color: #003319;
  background-image: url('Images/pp.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 0.4s, color 0.4s;
}

a {
    text-decoration: none; 
    color: black; 
  }

header{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2rem;
    font-weight: bolder;
    color:black;
}
.header .logo i{
    color:rgb(2, 2, 3);
}

.header .navbar a{
    font-size: 1.2rem;
    margin:0 1rem;
    color:black;
}

.header .navbar a:hover{
    color:blue;

}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background:#eee ;
    color:black;
    font-size: 2rem;
    margin-right:.3rem;
    text-align: center;

}

.header .icons div:hover{
    background: var(--blue);
    color: rgb(27, 27, 36);

}

#menu-btn{
    display: none;
}

header {
  text-align: left;
  background: linear-gradient(90deg, #00cc66, #33ff99);
  background-image: url(''); 
  background-color: #eee;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  color: white;
  padding: 15px 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.navbar {
  background: linear-gradient(90deg, #edebee, #e5e3e7);
  display: auto;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

/* Link utama */
.navbar a {
  color: rgb(18, 18, 18);
  text-align: right;
  padding: 15px 28px;
  text-decoration: none;
  font-size: 28px;
  transition: background 0.3s;
}

.navbar a:hover {
  background-color: rgba(255,255,255,0.15);
  border-radius: 5px;
}

.dropdown {
  position: relative; 
  display: inline-block;
}

.dropbtn {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  padding: 12px 18px;
  cursor: pointer;
  text-decoration: none;
}

.dropdown-content {
  position: absolute;
  background-color: #fff;
  min-width: 180px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.2);
  border-radius: 8px;
  z-index: 10;

  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: all 0.3s ease;
}

.dropdown-content a {
  color: #3b1053;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
  border-radius: 6px;
  transition: background 0.3s;
}

.dropdown-content a:hover {
  background-color: #f3e8ff;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown:hover .dropbtn {
  background-color: rgba(255,255,255,0.15);
  border-radius: 5px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar a, .dropbtn {
    width: 100%;
    text-align: center;
  }

  .dropdown-content {
    position: static;
    width: 100%;
    box-shadow: none;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    background-color: #fff;
  }
}


.home{
   display:flex;
   align-items: center;
   background: url('Images/712768.jpg') no-repeat;
   background-size: cover;
   background-position: top;
   padding-top: 5rem;
   padding-left: 5rem;
}

.home .content{
    width: 200rem;
    text-align: center;
}

.home .content h3{
    color:rgb(180, 24, 164);
    font-size: 3rem;
}

.home .content h3 span{
    color:blue;
    font-size: 3rem;
}

.home .content p{
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;

}


header h1 {
  font-size: 1.5em;
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  color: rgb(200, 24, 24);
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(182, 13, 13);
  font-weight: 600;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #004d26;
  text-shadow: 0 0 10px #b3ffd9;
}

.logo {
  height: 50px;
}

main {
  padding: 20px 40px;
}

section {
  margin-bottom: 50px;
  background: rgb(238, 228, 228);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  color: #00aa55;
  border-bottom: 3px solid #00cc66;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.box {
  width: 500px;      
  margin: 10px auto;       
  background-color: #f1e8e8;
  border-radius: 10px;
  
  display: flex;
  justify-content: center; 
  align-items: center;     

  color: #004d00;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}


section p {
  line-height: 1.8;
  text-align: justify;
}

.produk-list {
  display: grid;  
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;  
}


.artikel-list {
  display: grid;  
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;  
}


.pengumuman-list {
  display: grid;  
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;  
}


.card {
  background-color: #f2fff7;  
  
  border: 1px solid #cceedd;  

  border-radius: 15px;  

  padding: 20px;  

  transition: transform 0.2s;  
}

.card:hover {
  transform: scale(1.03);  
}

.card h3 {
  color: #008844;  
}

.btn {
  color: #b40bde;
}


.film-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
}

.film-card {
  background-color: white;
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s;
  text-align: center;
}

.film-card:hover {
  transform: scale(1.05);
}

.film-card img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.film-detail {
  display: none;
  padding: 10px;
  font-size: 0.9rem;
}

button {
  background-color: #f4a60c;
  color: rgb(15, 13, 13);
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #ff6b81;
  transform: scale(1.05);
}

.dark-mode {
  background-color: #121212;
  color: #ecc30f;
}

.dark-mode header {
  background-color: #000;
}

.dark-mode .film-card {
  background-color: #1e1e1e;
  color: #ecc415;
}

footer  {
  background-color: #2a003b;
  color: #fff;
  padding: 50px 50px;
  font-family: 'Arial', sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
  gap: 1.5rem;
}

.footer .under-container {
  max-width: 9000px;
  margin: 0 auto;

}

.footer-logo h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.logo-icon {
  color: #ff0055;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-col h3 {
  font-size: 14px;
  color: #ffcc00;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #ddd;
  font-size: 13px;
  transition: color 0.3s;
}

.footer-col ul li a:hover {
  color: #ffcc00;
}

.app-links img {
  width: 130px;
  margin: 8px 0;
  display: block;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #44115c;
  padding-top: 20px;
  font-size: 13px;
  color: #aaa;
}

.footer-bottom a {
  color: #0004ff;
  text-decoration: none;
  font-weight: bold;
}

.footer-bottom a:hover {
  text-decoration: underline;
}
